<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <title>Bogus Zodiac</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Pick a sign</h1>

    <div class="grid">

        <a href="aries">
            <div class="sign">
                <div class="signimage">
                    <img src="pics/aries.png" alt="aries" style="max-width:80px">
                </div>
                <div class="signtext">
                    <div>Aries</div>
                    <div><small>Mar 21 - Apr 19</small></div>
                </div>
            </div>
        </a>

        <a href="taurus">
            <div class="sign">
                <div class="signimage">
                    <img src="pics/taurus.png" alt="taurus" style="max-width:80px">
                </div>
                <div class="signtext">
                    <div>Taurus</div>
                    <div><small>Apr 20 - May 20</small></div>
                </div>
            </div>
        </a>

        <a href="gemini">
            <div class="sign">
                <div class="signimage">
                    <img src="pics/gemini.png" alt="gemini" style="max-width:80px">
                </div>
                <div class="signtext">
                    <div>Gemini</div>
                    <div><small>May 21 - Jun 20</small></div>
                </div>
            </div>
        </a>

        <a href="cancer">
            <div class="sign">
                <div class="signimage">
                    <img src="pics/cancer.png" alt="cancer" style="max-width:80px">
                </div>
                <div class="signtext">
                    <div>Cancer</div>
                    <div><small>Jun 21 - Jul 22</small></div>
                </div>
            </div>
        </a>

        <a href="leo">
            <div class="sign">
                <div class="signimage">
                    <img src="pics/leo.png" alt="leo" style="max-width:80px">
                </div>
                <div class="signtext">
                    <div>Leo</div>
                    <div><small>Jul 23 - Aug 22</small></div>
                </div>
            </div>
        </a>

        <a href="virgo">
            <div class="sign">
                <div class="signimage">
                    <img src="pics/virgo.png" alt="virgo" style="max-width:80px">
                </div>
                <div class="signtext">
                    <div>Virgo</div>
                    <div><small>Aug 23 - Sep 22</small></div>
                </div>
            </div>
        </a>

        <a href="libra">
            <div class="sign">
                <div class="signimage">
                    <img src="pics/libra.png" alt="libra" style="max-width:80px">
                </div>
                <div class="signtext">
                    <div>Libra</div>
                    <div><small>Sep 23 - Oct 22</small></div>
                </div>
            </div>
        </a>

        <a href="scorpio">
            <div class="sign">
                <div class="signimage">
                    <img src="pics/scorpio.png" alt="scorpio" style="max-width:80px">
                </div>
                <div class="signtext">
                    <div>Scorpio</div>
                    <div><small>Oct 23 - Nov 21</small></div>
                </div>
            </div>
        </a>

        <a href="sagittarius">
            <div class="sign">
                <div class="signimage">
                    <img src="pics/sagittarius.png" alt="sagittarius" style="max-width:80px">
                </div>
                <div class="signtext">
                    <div>Sagittarius</div>
                    <div><small>Nov 22 - Dec 21</small></div>
                </div>
            </div>
        </a>

        <a href="capricorn">
            <div class="sign">
                <div class="signimage">
                    <img src="pics/capricorn.png" alt="capricorn" style="max-width:80px">
                </div>
                <div class="signtext">
                    <div>Capricorn</div>
                    <div><small>Dec 22 - Jan 19</small></div>
                </div>
            </div>
        </a>

        <a href="aquarius">
            <div class="sign">
                <div class="signimage">
                    <img src="pics/aquarius.png" alt="aquarius" style="max-width:80px">
                </div>
                <div class="signtext">
                    <div>Aquarius</div>
                    <div><small>Jan 20 - Feb 18</small></div>
                </div>
            </div>
        </a>

        <a href="pisces">
            <div class="sign">
                <div class="signimage">
                    <img src="pics/pisces.png" alt="pisces" style="max-width:80px">
                </div>
                <div class="signtext">
                    <div>Pisces</div>
                    <div><small>Feb 19 - Mar 20</small></div>
                </div>
            </div>
        </a>



</body>

</html>