<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <title>Bogus Zodiac</title>
</head>

<body>
    <h1>Pick a sign</h1>
    <ol>
        <ul><a href="aries">♈︎ Aries</a></ul>
        <ul><a href="taurus">♉︎ Taurus</a></ul>
        <ul><a href="gemini">♊︎ Gemini</a></ul>
        <ul><a href="cancer">♋︎ Cancer</a></ul>
        <ul><a href="leo">♌︎ Leo</a></ul>
        <ul><a href="virgo">♍︎ Virgo</a></ul>
        <ul><a href="libra">♎︎ Libra</a></ul>
        <ul><a href="scorpio">♏︎ Scorpio</a></ul>
        <ul><a href="sagittarius">♐︎ Sagittarius</a></ul>
        <ul><a href="capricorn">♑︎ Capricorn</a></ul>
        <ul><a href="aquarius">♒︎ Aquarius</a></ul>
        <ul><a href="pisces">♓︎ Pisces</a></ul>
    </ol>
</body>

</html>