html {
    padding: 1em;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 80%;
    margin: auto;
}

header {
    display:flexbox;
    flex-direction: row;
    overflow: auto;
}

.grid {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

div.sign {
    padding: 10px;
    display: flex;
    white-space: nowrap;
    border-radius: 0.25rem;
    transition: transform .2s
}

div.sign:hover {
    transform: scale(1.03);
}

div.signimage {
    margin: auto;
    max-width:80px
}

div.signtext {
    margin: auto;
    text-align: center;
}

.bar {
    margin: auto;
    background-color: #555;
    width: 80%;
    height: 2rem;
    border-radius: 1rem;
}

.barprogress {
    background-image: linear-gradient(to right, red, yellow, green);
    background-attachment: fixed;
    height: 2rem;
    border-radius: 1rem;
}

a {
    text-decoration: none;
    color: #000;
}

a.button {
    padding: 5px 10px;
    background-color: rgb(32, 172, 236);
    border-radius: 0.25rem;
}

@media screen and (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
  