html {
    padding: 1em;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 80%;
    margin: auto;
}

.grid {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

div.sign {
    display: flex;
    border-radius: 0.25rem;
    background-color: #555;
}

div.signimage {
    margin: auto;
}

div.signtext {
    margin: auto;
    text-align: center;
}

.bar {
    margin: auto;
    background-color: #555;
    width: 80%;
    height: 2rem;
    border-radius: 1rem;
}

.barprogress {
    background-image: linear-gradient(to right, red, yellow, green);
    background-attachment: fixed;
    height: 2rem;
    border-radius: 1rem;
}

small {
    filter: grayscale(50%);
}

a {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 800px) {
   
    .grid {
        grid-template-columns: 1fr;
    }
  }
  